.search-box{
  margin: 25px 0;
  border: none;
  outline: none;
  padding: 10px;
  line-height: 50px;
  width: 85vh;
  text-align: center;
  background-color: pink;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}
input{
  padding: 10px 0;
  border-radius: 4px;
  font-size: 18px;
}
input::placeholder{
  color: #5555a0;
  /* background-color: white; */
}